<div id="places" class="transitions-enabled">
  <% @places.each do |place| %>
    <div class="box panel panel-default">
      <%= image_tag place.image.url(:medium) %>
      <div class="panel-body">
        <%= place.description %>
        <%= place.user.email if place.user %>
        <%= link_to 'Show', place_path(place) %>
        <% if place.user == current_user %>
          <%= link_to 'Edit', edit_place_path(place) %>
          <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>